html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

.my-footer {
    /*height: 10em;*/
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: #fff;
    font-size: 80%;
}

.room-image {
    min-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}